@media only screen and (max-width: 1300px) {
  body {
    /* background-color: greenyellow; */
    height: 100vh;
  }
  
  .card-content {
    /* width: 20vw; */
    height: 55vh;
  }
  
  
  /* FOOTER */
  footer {
    height: 28%;
    padding: 0 20vw 0vw 20vw;
    background-color: white;
    padding-top: 43vh;
  }
}


