@media only screen and (max-width: 920px) {
  body {
    background-color: rgb(13, 0, 80);
    height: 100vh;
  }
  
  /* MAIN */
  /* BACKGROUN ABOVE */
  .background-above {
    height: 20%;
  }
  
  /* CARD */
  .container-card {
    display: flex;
    justify-content: center;
    margin: 0 20px 0 20px;
  }

  .card-content {
    width: 28vw;
    height: 46vh;
  }
  
  button:hover {
    cursor: pointer;
    background-color: rgb(84, 99, 150);
  }
  
  /* FOOTER */
  footer {
    /* height: 30%; */
    /* padding: 0 10vw 0vw 20vw; */
    background-color: white;
    padding-top: 35vh;
  }
}